<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Music Shelf</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-row-reverse"
      id="navbarNavDarkDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="token">
          <a class="nav-link active" role="button" routerLink="home">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!token">
          <a class="nav-link active" role="button" (click)="login()">Login</a>
        </li>
        <li class="nav-item dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="assets/svg/ic-list-burger.svg" />
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li *ngIf="token">
              <a class="dropdown-item" role="button" routerLink="home">Home</a>
            </li>
            <li *ngIf="!token">
              <a class="dropdown-item" role="button" (click)="login()">Login</a>
            </li>
            <li *ngIf="token">
              <a class="dropdown-item" role="button" (click)="logout()"
                >Logout</a
              >
            </li>
            <li *ngIf="token">
              <a class="dropdown-item" href="#">Favorite Songs</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <form class="d-flex" role="search" *ngIf="token">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Songs..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
