<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <img src="" height="100%" width="100%">
    </div>
    <div class="col-md-4 mt-3">
        <h3 class="text-success text-center mb-3">*Welcome, please fill the form to sign up!*</h3>
        <form>

          <div class="form-floating mb-3">
            <input type="input" class="form-control" id="floatingUsername" placeholder="Name" name="name" [(ngModel)]="name">
            <label for="floatingInput" class="form-label">Full name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="input" class="form-control" id="floatingUsername" placeholder="Username" name="username" [(ngModel)]="username">
            <label for="floatingInput" class="form-label">Username</label>

          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
            <label for="floatingPassword" class="form-label">Password</label>
          </div>

          <div class="d-grid gap2 d-md-flex justify-content-between">
            <a routerLink="/" style="text-decoration: none;" class="text-primary">Log In</a>
            <button type="button" class="btn btn-outline-success me-mb-2" (click)="signup()">Register</button>
          </div>

        </form>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
